.window
    margin-top: 2%
    background-color: white

.window-body
    display: flex
    flex-direction: column
    overflow: auto
    height: 60vh

.window__window-item-container
    flex-grow: 0
    flex-shrink: 0
    height: 12vh
    display: flex